Repository PopulateTools/gobierto, pull requests merged in 2018-02, with the labels that each got.

#1445 Agendas make it optional event description
  app/controllers/gobierto_admin/gobierto_calendars/calendar_configuration_controller.rb
  app/forms/gobierto_admin/gobierto_calendars/calendar_configuration_form.rb
  app/models/gobierto_calendars/calendar_configuration.rb
  app/models/gobierto_calendars/google_calendar_configuration.rb
  app/models/gobierto_calendars/ibm_notes_calendar_configuration.rb
  app/models/gobierto_calendars/microsoft_exchange_calendar_configuration.rb
  app/services/gobierto_people/google_calendar/calendar_integration.rb
  app/services/gobierto_people/ibm_notes/calendar_integration.rb
  app/services/gobierto_people/microsoft_exchange/calendar_integration.rb
  app/views/gobierto_admin/gobierto_calendars/calendar_configuration/edit.html.erb
  config/locales/gobierto_admin/gobierto_calendars/views/calendar_configuration/ca.yml
  config/locales/gobierto_admin/gobierto_calendars/views/calendar_configuration/en.yml
  config/locales/gobierto_admin/gobierto_calendars/views/calendar_configuration/es.yml
  test/fixtures/gobierto_calendars/calendar_configurations.yml
  test/forms/gobierto_admin/gobierto_calendars/calendar_configuration_form_test.rb
  test/integration/gobierto_admin/gobierto_people/person_calendar_configuration_test.rb
  test/services/gobierto_people/google_calendar/calendar_integration_test.rb
  test/services/gobierto_people/ibm_notes/calendar_integration_test.rb
  test/services/gobierto_people/microsoft_exchange/calendar_integration_test.rb
Labels: gobierto-calendars

#1454 Run calendar sync in the site default locale
  app/controllers/gobierto_admin/gobierto_calendars/calendar_configuration_controller.rb
  app/forms/gobierto_people/person_event_form.rb
  test/integration/gobierto_admin/gobierto_people/person_calendar_configuration_test.rb
Labels: gobierto-calendars

#1462 View all documents/events link in participation/processes
  app/controllers/gobierto_participation/events_controller.rb
  app/models/concerns/gobierto_common/collectionable.rb
  app/models/gobierto_cms/page.rb
  app/views/gobierto_participation/attachments/index.html.erb
  app/views/gobierto_participation/attachments/show.html.erb
  app/views/gobierto_participation/events/index.html.erb
  app/views/gobierto_participation/issues/_issue_teaser.html.erb
  app/views/gobierto_participation/issues/attachments/index.html.erb
  app/views/gobierto_participation/issues/attachments/show.html.erb
  app/views/gobierto_participation/issues/events/index.html.erb
  app/views/gobierto_participation/processes/attachments/index.html.erb
  app/views/gobierto_participation/processes/attachments/show.html.erb
  app/views/gobierto_participation/processes/events/index.html.erb
  app/views/gobierto_participation/processes/events/show.html.erb
  app/views/gobierto_participation/scopes/_scope_teaser.html.erb
  app/views/gobierto_participation/shared/attachments/_attachment_teaser.html.erb
  app/views/gobierto_participation/shared/attachments/_attachments_filter.html.erb
  app/views/gobierto_participation/shared/events/_event_teaser.html.erb
  config/locales/gobierto_participation/views/ca.yml
  config/locales/gobierto_participation/views/en.yml
  config/locales/gobierto_participation/views/es.yml
  test/fixtures/gobierto_attachments/attachments.yml
  test/fixtures/gobierto_calendars/events.yml
  test/fixtures/gobierto_common/collection_items.yml
  test/fixtures/gobierto_common/collections.yml
  test/fixtures/versions.yml
  test/integration/gobierto_participation/participation_attachments_index_test.rb
  test/integration/gobierto_participation/participation_attachments_show_test.rb
  test/integration/gobierto_participation/participation_events_index_test.rb
  test/integration/gobierto_participation/participation_events_show_test.rb
  test/integration/gobierto_participation/processes/polls/polls_index_test.rb
  test/integration/gobierto_participation/processes/process_attachments_index_test.rb
  test/integration/gobierto_participation/processes/process_attachments_show_test.rb
  test/integration/gobierto_participation/processes/process_events_index_test.rb
  test/integration/gobierto_participation/processes/process_events_show_test.rb
  test/integration/gobierto_participation/processes/process_show_test.rb
  test/models/gobierto_participation/process_test.rb
Labels: gobierto-participation

#1446 Modify year dropdown
  app/assets/javascripts/gobierto_indicators/app/controllers/indicators_controller.js
  app/controllers/gobierto_indicators/indicators_controller.rb
  test/fixtures/gobierto_indicators/indicators.yml
  test/integration/gobierto_indicators/indicators/indicator_show_test.rb
Labels: gobierto-indicators

#1465 View past events in participation/processes
  app/controllers/gobierto_participation/events_controller.rb
  app/controllers/gobierto_participation/past_participation_events_controller.rb
  app/controllers/gobierto_participation/processes/events_controller.rb
  app/controllers/gobierto_participation/processes/past_process_events_controller.rb
  app/views/gobierto_participation/events/index.html.erb
  app/views/gobierto_participation/issues/attachments/index.html.erb
  app/views/gobierto_participation/issues/attachments/show.html.erb
  app/views/gobierto_participation/issues/events/index.html.erb
  app/views/gobierto_participation/issues/events/show.html.erb
  app/views/gobierto_participation/processes/attachments/index.html.erb
  app/views/gobierto_participation/processes/attachments/show.html.erb
  app/views/gobierto_participation/processes/events/index.html.erb
  app/views/gobierto_participation/processes/events/show.html.erb
  app/views/gobierto_participation/shared/attachments/_attachments_list.html.erb
  app/views/gobierto_participation/shared/events/_event.html.erb
  config/locales/gobierto_participation/views/ca.yml
  config/locales/gobierto_participation/views/en.yml
  config/locales/gobierto_participation/views/es.yml
  config/routes.rb
  test/fixtures/gobierto_calendars/events.yml
  test/fixtures/gobierto_common/collection_items.yml
  test/fixtures/gobierto_common/collections.yml
  test/integration/gobierto_participation/issues/issue_show_test.rb
  test/integration/gobierto_participation/participation_events_index_test.rb
  test/integration/gobierto_participation/participation_events_show_test.rb
  test/integration/gobierto_participation/processes/process_events_index_test.rb
  test/integration/gobierto_participation/processes/process_events_show_test.rb
  test/integration/gobierto_participation/processes/process_show_test.rb
  test/models/gobierto_participation/process_test.rb
Labels: gobierto-participation

#1392 Implement cropper
  .env.example
  Gemfile
  Gemfile.lock
  app/assets/javascripts/admin/app/controllers/person_controller.js
  app/assets/javascripts/admin/application.js
  app/assets/stylesheets/admin/application.scss
  app/assets/stylesheets/comp-modals.scss
  app/controllers/gobierto_admin/gobierto_people/people_controller.rb
  app/forms/gobierto_admin/gobierto_people/person_form.rb
  app/services/gobierto_admin/cloudinary_service.rb
  app/services/gobierto_admin/file_upload_service.rb
  app/views/gobierto_admin/gobierto_people/people/_form.html.erb
  config/initializers/cloudinary.rb
  config/locales/gobierto_admin/gobierto_people/views/people/ca.yml
  config/locales/gobierto_admin/gobierto_people/views/people/en.yml
  config/locales/gobierto_admin/gobierto_people/views/people/es.yml
  config/secrets.yml
  docs/environment-variables.md
  test/fixtures/files/gobierto_people/people/avatar-small.jpg
  test/forms/gobierto_admin/gobierto_attachments/file_attachment_form_tests/create_test.rb
  test/integration/gobierto_admin/gobierto_people/person_create_test.rb
  test/integration/gobierto_admin/gobierto_people/person_update_test.rb
  test/services/gobierto_admin/cloudinary_service_test.rb
  test/support/cloudinary_helpers.rb
  vendor/assets/javascripts/cropper.common.js
  vendor/assets/javascripts/cropper.esm.js
  vendor/assets/javascripts/cropper.js
  vendor/assets/javascripts/cropper.min.js
  vendor/assets/stylesheets/cropper.css
  vendor/assets/stylesheets/cropper.min.css
Labels: gobierto-people

#1472 Review gobierto-indicators
  app/assets/javascripts/admin/application.js
  app/assets/javascripts/application.js.erb
  app/assets/javascripts/gobierto_indicators/app/controllers/indicators_controller.js
  app/assets/stylesheets/comp-tree.scss
  app/views/gobierto_indicators/indicators/_template.html.erb
  app/views/gobierto_indicators/indicators/gci.html.erb
  app/views/gobierto_indicators/indicators/ip.html.erb
  app/views/gobierto_indicators/indicators/ita.html.erb
  lib/assets/javascripts/polyfills/string/includes.js
  lib/assets/javascripts/polyfills/string/repeat.js
Labels: wip
