Repository PopulateTools/gobierto, pull requests merged in 2018-03, with the labels that each got.

#1463 PAM breadcrumb feature
  app/assets/javascripts/gobierto_plans/app/controllers/plans_controller.js
  app/assets/stylesheets/module-planification-custom.scss
  app/assets/stylesheets/module-planification.scss
  app/controllers/gobierto_plans/plans_controller.rb
  app/views/gobierto_plans/plans/show.html.erb
  test/fixtures/gobierto_plans/plans.yml
  test/integration/gobierto_plans/plans/plan_show_test.rb
Labels: gobierto-plans

#1481 fix hash issues
  app/assets/javascripts/gobierto_indicators/app/controllers/indicators_controller.js
Labels: gobierto-indicators

#1476 Upgrade to Rails 5.2
  Gemfile
  Gemfile.lock
  app/controllers/user/registrations_controller.rb
  bin/bundle
  bin/setup
  bin/update
  bin/yarn
  circle.yml
  config/boot.rb
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/application_controller_renderer.rb
  config/initializers/backtrace_silencers.rb
  config/initializers/content_security_policy.rb
  config/initializers/cookies_serializer.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/mime_types.rb
  config/initializers/new_framework_defaults_5_2.rb
  config/initializers/wrap_parameters.rb
  config/puma.rb
  config/spring.rb
  db/data/20170820075957_issues_copy_slugs.rb
  db/data/20170820154540_pages_copy_slugs.rb
  db/data/20170925125702_create_process_stages_placeholders.rb
  db/data/20170929075932_attachments_create_slugs.rb
  db/data/20171003112359_add_collection_id_to_attachments_and_pages.rb
  db/data/20171030134143_update_god_admins_authorization_level.rb
  db/data/20171101234125_set_site_home_page.rb
  db/data/20171102105923_update_type_news_to_existing_cms_collections.rb
  db/data/20171120094614_fill_missing_attachment_slugs.rb
  db/data/20171120112803_migrate_pages_content.rb
  db/data/20171121095519_migrate_calendar_configurations_from_site_to_collections.rb
  db/data/20171201102205_amend_blog_setting.rb
  db/data/20171204121201_create_template.rb
  db/data/20180108120705_rename_gobierto_indicators_module.rb
  db/data/20180111111616_scopes_create_slugs.rb
  db/data/20180112112829_add_template_navigation_process.rb
  db/data/20180115142954_remove_extension_liquid_of_the_templates.rb
  db/data/20180117140628_modify_slug_in_archived_objects.rb
  db/data/20180209081527_delete_deleted_notifications.rb
  db/data/20180218084506_migrate_translated_content_to_source.rb
  db/schema.rb
  lib/tasks/db/db.rake
  test/pub_sub/subscribers/site_activity_test.rb
  test/test_helper.rb
Labels: wip

#1518 Budgets indicators page
  Gemfile.lock
  app/assets/javascripts/gobierto_budgets/app/controllers/indicators_controller.js
  app/assets/javascripts/gobierto_budgets/application.js
  app/assets/javascripts/gobierto_budgets/cards/debt_level.js
  app/assets/javascripts/gobierto_budgets/cards/expenditure_rigidity.js
  app/assets/javascripts/gobierto_budgets/cards/financial_charge.js
  app/assets/javascripts/gobierto_budgets/cards/financial_risk.js
  app/assets/javascripts/gobierto_budgets/cards/gross_saving.js
  app/assets/javascripts/gobierto_budgets/cards/gross_savings_rate.js
  app/assets/javascripts/gobierto_budgets/cards/investment_financing.js
  app/assets/javascripts/gobierto_budgets/cards/liability_cost.js
  app/assets/javascripts/gobierto_budgets/cards/net_saving.js
  app/assets/javascripts/gobierto_budgets/cards/net_savings_rate.js
  app/assets/javascripts/gobierto_budgets/cards/per_capita_investment.js
  app/assets/javascripts/gobierto_budgets/cards/per_capita_tax_burden.js
  app/assets/javascripts/gobierto_budgets/cards/self_financing_capacity.js
  app/assets/javascripts/gobierto_budgets/cards/tax_autonomy.js
  app/assets/javascripts/gobierto_budgets/visualizations/vis_card_simple.js
  app/assets/javascripts/gobierto_budgets/visualizations/vis_sparkline.js
  app/assets/stylesheets/comp-layout.scss
  app/controllers/concerns/submodules_helper.rb
  app/controllers/gobierto_admin/gobierto_budgets/options_controller.rb
  app/controllers/gobierto_budgets/indicators_controller.rb
  app/forms/gobierto_admin/gobierto_budgets/options_form.rb
  app/views/gobierto_admin/gobierto_budgets/options/index.html.erb
  app/views/gobierto_budgets/cards/_card_simple.html.erb
  app/views/gobierto_budgets/indicators/_year_breadcrumb.html.erb
  app/views/gobierto_budgets/indicators/index.html.erb
  app/views/gobierto_budgets/layouts/_navigation.sub.html.erb
  config/i18n-tasks.yml
  config/locales/gobierto_admin/gobierto_budgets/views/ca.yml
  config/locales/gobierto_admin/gobierto_budgets/views/en.yml
  config/locales/gobierto_admin/gobierto_budgets/views/es.yml
  config/locales/gobierto_budgets/views/ca.yml
  config/locales/gobierto_budgets/views/en.yml
  config/locales/gobierto_budgets/views/es.yml
  config/routes.rb
  test/integration/gobierto_admin/gobierto_budgets/options_test.rb
  test/integration/gobierto_budgets/indicators_test.rb
  test/integration/gobierto_budgets/receipt_test.rb
Labels: gobierto-budgets
