Repository PopulateTools/gobierto, pull requests merged in 2020-07, with the labels that each got.

#3179 Gobierto Data: check if the user loads an invented dataset
  app/javascript/gobierto_data/lib/factories/datasets.js
  app/javascript/gobierto_data/webapp/components/Dataset.vue
Labels: gobierto-data

#3185 Gobierto Data / Restore Perspective configuration
  app/javascript/gobierto_data/webapp/components/commons/Visualizations.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsItem.vue
  app/javascript/gobierto_data/webapp/components/sets/data/SQLEditorResults.vue
Labels: gobierto-data

#3182 Gobierto Data: Render markdown
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/webapp/components/commons/Info.vue
  package.json
  yarn.lock
Labels: gobierto-data

#3178 Gobierto Data: Included pages title and nowrap for field icon with name
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/lib/router.js
  app/javascript/gobierto_data/webapp/components/Dataset.vue
  app/javascript/gobierto_data/webapp/pages/Main.vue
Labels: gobierto-data

#3196 Gobierto Data / Update URL when saving a new query or visualization
  app/javascript/gobierto_data/webapp/components/Dataset.vue
  app/javascript/gobierto_data/webapp/components/commons/Queries.vue
  app/javascript/gobierto_data/webapp/components/commons/SavingDialog.vue
  app/javascript/gobierto_data/webapp/components/commons/Spinner.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsItem.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsList.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsTab.vue
  app/javascript/gobierto_data/webapp/components/sets/data/SQLEditorHeader.vue
Labels: gobierto-data

#3199 Plans new views
  app/assets/stylesheets/module-planification-custom.scss
  app/assets/stylesheets/module-planification.scss
  app/javascript/gobierto_plans/index.js
  app/javascript/gobierto_plans/webapp/Main.vue
  app/javascript/gobierto_plans/webapp/components/ActionLine.vue
  app/javascript/gobierto_plans/webapp/components/Breadcrumb.vue
  app/javascript/gobierto_plans/webapp/components/ButtonFilters.vue
  app/javascript/gobierto_plans/webapp/components/CustomFieldImage.vue
  app/javascript/gobierto_plans/webapp/components/CustomFieldParagraph.vue
  app/javascript/gobierto_plans/webapp/components/CustomFieldPluginRawIndicators.vue
  app/javascript/gobierto_plans/webapp/components/CustomFieldVocabulary.vue
  app/javascript/gobierto_plans/webapp/components/CustomFieldVocabularySDG.vue
  app/javascript/gobierto_plans/webapp/components/GroupsByTermTableRow.vue
  app/javascript/gobierto_plans/webapp/components/GroupsByTermTableRowRecursive.vue
  app/javascript/gobierto_plans/webapp/components/Header.vue
  app/javascript/gobierto_plans/webapp/components/NumberLabel.vue
  app/javascript/gobierto_plans/webapp/components/Project.vue
  app/javascript/gobierto_plans/webapp/components/ProjectCustomFields.vue
  app/javascript/gobierto_plans/webapp/components/ProjectsByTermTableRow.vue
  app/javascript/gobierto_plans/webapp/components/SectionZero.vue
  app/javascript/gobierto_plans/webapp/components/SortIcon.vue
  app/javascript/gobierto_plans/webapp/components/TableBreadcrumb.vue
  app/javascript/gobierto_plans/webapp/components/TableCellTemplates.vue
  app/javascript/gobierto_plans/webapp/components/TableColumnsSelector.vue
  app/javascript/gobierto_plans/webapp/lib/mixins/active-node.js
  app/javascript/gobierto_plans/webapp/lib/mixins/field-type.js
  app/javascript/gobierto_plans/webapp/lib/mixins/names.js
  app/javascript/gobierto_plans/webapp/lib/mixins/table-header.js
  app/javascript/gobierto_plans/webapp/lib/router.js
  app/javascript/gobierto_plans/webapp/lib/store.js
  app/javascript/gobierto_plans/webapp/pages/Categories.vue
  app/javascript/gobierto_plans/webapp/pages/Groups.vue
  app/javascript/gobierto_plans/webapp/pages/GroupsByTerm.vue
  app/javascript/gobierto_plans/webapp/pages/Home.vue
  app/javascript/gobierto_plans/webapp/pages/Projects.vue
  app/javascript/gobierto_plans/webapp/pages/ProjectsByTerm.vue
  app/javascript/lib/vue-components/modules/Checkbox.vue
  config/locales/gobierto_plans/views/ca.yml
  config/locales/gobierto_plans/views/en.yml
  config/locales/gobierto_plans/views/es.yml
  config/routes.rb
Labels: :no_entry: blocked

#3200 Gobierto Data / Improve visualization flow
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/lib/commons.js
  app/javascript/gobierto_data/webapp/components/Dataset.vue
  app/javascript/gobierto_data/webapp/components/commons/DownloadButton.vue
  app/javascript/gobierto_data/webapp/components/commons/Queries.vue
  app/javascript/gobierto_data/webapp/components/commons/SavingDialog.vue
  app/javascript/gobierto_data/webapp/components/commons/Visualizations.vue
  app/javascript/gobierto_data/webapp/components/sets/DataTab.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsItem.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsList.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsTab.vue
  app/javascript/gobierto_data/webapp/components/sets/data/SQLEditorCode.vue
  app/javascript/gobierto_data/webapp/components/sets/data/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/components/sets/data/SQLEditorResults.vue
  config/locales/gobierto_data/views/ca.yml
  config/locales/gobierto_data/views/en.yml
  config/locales/gobierto_data/views/es.yml
Labels: gobierto-data

#3210 Gobierto Data / Including a skeleton spinner
  app/assets/stylesheets/comp-vue-skeleton-spinner.scss
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/webapp/components/Dataset.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsItem.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsList.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsTab.vue
  app/javascript/lib/vue-components/index.js
  app/javascript/lib/vue-components/modules/SkeletonSpinner.vue
  config/locales/defaults/ca.yml
  config/locales/defaults/en.yml
  config/locales/defaults/es.yml
Labels: gobierto-data

#3233 Gobierto Data / Upgrade Perspective: 0.4.2 → 0.5.1
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/webapp/components/Dataset.vue
  app/javascript/gobierto_data/webapp/components/commons/Description.vue
  app/javascript/gobierto_data/webapp/components/commons/Visualizations.vue
  app/javascript/gobierto_data/webapp/components/sets/DataTab.vue
  app/javascript/gobierto_data/webapp/components/sets/SummaryTab.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsItem.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsList.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsTab.vue
  app/javascript/gobierto_data/webapp/components/sets/data/SQLEditorCode.vue
  app/javascript/gobierto_data/webapp/components/sets/data/SQLEditorResults.vue
  config/webpack/environment.js
  config/webpack/loaders/less.js
  package.json
  yarn.lock
Labels: gobierto-data

#3262 Gobierto Dashboards / Create a pagination component
  app/assets/stylesheets/comp-vue-pagination.scss
  app/assets/stylesheets/module-dashboards.scss
  app/javascript/gobierto_dashboards/webapp/components/Table.vue
  app/javascript/lib/vue-components/index.js
  app/javascript/lib/vue-components/modules/Pagination.vue
  config/locales/gobierto_common/views/ca.yml
  config/locales/gobierto_common/views/en.yml
  config/locales/gobierto_common/views/es.yml
Labels: gobierto-dashboards

#3277 Gobierto Data / Autocomplete removes the separator
  app/javascript/gobierto_data/webapp/components/sets/data/SQLEditorCode.vue
Labels: gobierto-data
