Repository PopulateTools/gobierto, pull requests merged in 2020-08, with the labels that each got.

#3276 PlansStore with fallbacks
  app/javascript/gobierto_plans/webapp/lib/store.js
Labels: gobierto-plans

#3253 Gobierto Data / Landing Visualizations
  app/assets/stylesheets/module-dashboards.scss
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/lib/factories/visualizations.js
  app/javascript/gobierto_data/lib/router.js
  app/javascript/gobierto_data/webapp/components/landingviz/VisualizationsGrid.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsList.vue
  app/javascript/gobierto_data/webapp/layouts/CardVisualization.vue
  app/javascript/gobierto_data/webapp/pages/Main.vue
  app/javascript/gobierto_data/webapp/pages/Visualizations.vue
  app/views/gobierto_data/layouts/_navigation.sub.html.erb
  config/locales/gobierto_data/views/ca.yml
  config/locales/gobierto_data/views/es.yml
  config/routes.rb
Labels: gobierto-data

#3267 Gobierto Dashboards / Search and filtering
  app/javascript/gobierto_dashboards/webapp/components/SearchFilter.vue
  app/javascript/gobierto_dashboards/webapp/containers/contracts/Aside.vue
  app/javascript/gobierto_dashboards/webapp/containers/contracts/AssigneesShow.vue
  app/javascript/gobierto_dashboards/webapp/containers/contracts/ContractsIndex.vue
  app/javascript/gobierto_dashboards/webapp/containers/contracts/Home.vue
  app/javascript/gobierto_dashboards/webapp/containers/contracts/Summary.vue
  app/javascript/gobierto_dashboards/webapp/containers/subsidies/Aside.vue
  app/javascript/gobierto_dashboards/webapp/containers/subsidies/Home.vue
  app/javascript/gobierto_dashboards/webapp/containers/subsidies/SubsidiesIndex.vue
  app/javascript/gobierto_dashboards/webapp/containers/subsidies/SubsidiesShow.vue
  app/javascript/gobierto_dashboards/webapp/containers/subsidies/Summary.vue
  app/javascript/gobierto_dashboards/webapp/mixins/dashboards_mixins.js
  app/javascript/lib/vue-components/modules/Pagination.vue
  config/locales/gobierto_dashboards/views/ca.yml
  config/locales/gobierto_dashboards/views/en.yml
  config/locales/gobierto_dashboards/views/es.yml
Labels: gobierto-dashboards

#3269 Gobierto Dashboards / styles
  app/javascript/gobierto_dashboards/webapp/components/DownloadButton.vue
  app/javascript/gobierto_dashboards/webapp/containers/contracts/Aside.vue
  app/javascript/gobierto_dashboards/webapp/containers/contracts/TendersIndex.vue
  app/javascript/gobierto_dashboards/webapp/containers/contracts/TendersShow.vue
  app/javascript/gobierto_dashboards/webapp/containers/subsidies/Aside.vue
Labels: :no_entry: blocked, gobierto-dashboards
