Repository PopulateTools/gobierto, pull requests merged in 2020-01, with the labels that each got.

#2694 Investments enhancements
  app/assets/stylesheets/module-investments.scss
  app/javascript/gobierto_investments/webapp/components/BlockFilter.vue
  app/javascript/gobierto_investments/webapp/components/Calendar.vue
  app/javascript/gobierto_investments/webapp/components/Checkbox.vue
  app/javascript/gobierto_investments/webapp/components/DictionaryItem.vue
  app/javascript/gobierto_investments/webapp/components/Gallery.vue
  app/javascript/gobierto_investments/webapp/components/GalleryItem.vue
  app/javascript/gobierto_investments/webapp/components/HorizontalCarousel.vue
  app/javascript/gobierto_investments/webapp/components/Loading.vue
  app/javascript/gobierto_investments/webapp/components/MapTour.vue
  app/javascript/gobierto_investments/webapp/components/RangeBars.vue
  app/javascript/gobierto_investments/webapp/components/ShowAll.vue
  app/javascript/gobierto_investments/webapp/components/Table.vue
  app/javascript/gobierto_investments/webapp/containers/home/Aside.vue
  app/javascript/gobierto_investments/webapp/containers/home/Home.vue
  app/javascript/gobierto_investments/webapp/containers/project/Main.vue
  app/javascript/gobierto_investments/webapp/containers/project/Project.vue
  app/javascript/gobierto_investments/webapp/mixins/common.js
  app/javascript/gobierto_investments/webapp/mixins/mataro.conf.js
  app/javascript/gobierto_investments/webapp/mixins/store.js
  app/javascript/lib/shared/index.js
  app/javascript/lib/shared/modules/air-datepicker.js
  app/javascript/lib/shared/modules/horizontal-carousel.js
  app/javascript/lib/shared/modules/range-slider.js
  config/locales/gobierto_investments/views/ca.yml
  config/locales/gobierto_investments/views/en.yml
  config/locales/gobierto_investments/views/es.yml
  config/webpacker.yml
Labels: gobierto-investments

#2782 BlockHeader vue-component refactor as library
  app/javascript/gobierto_investments/webapp/containers/home/Home.vue
  app/javascript/lib/vue-components/index.js
  app/javascript/lib/vue-components/modules/BlockHeader.vue
  config/locales/gobierto_common/views/ca.yml
  config/locales/gobierto_common/views/en.yml
  config/locales/gobierto_common/views/es.yml
  config/locales/gobierto_investments/views/ca.yml
  config/locales/gobierto_investments/views/en.yml
  config/locales/gobierto_investments/views/es.yml
Labels: gobierto-data

#2783 Calendar vue-component refactor as library
  app/assets/stylesheets/module-investments.scss
  app/javascript/gobierto_investments/webapp/containers/home/Home.vue
  app/javascript/lib/vue-components/index.js
  app/javascript/lib/vue-components/modules/Calendar.vue
  config/locales/gobierto_common/views/ca.yml
  config/locales/gobierto_common/views/en.yml
  config/locales/gobierto_common/views/es.yml
  config/locales/gobierto_investments/views/ca.yml
  config/locales/gobierto_investments/views/en.yml
  config/locales/gobierto_investments/views/es.yml
Labels: gobierto-data

#2784 HorizontalCarousel vue-component refactor as library
  app/javascript/gobierto_investments/webapp/containers/project/Main.vue
  app/javascript/lib/vue-components/index.js
  app/javascript/lib/vue-components/modules/HorizontalCarousel.vue
Labels: gobierto-data

#2785 Loading vue-component refactor as library
  app/javascript/gobierto_investments/webapp/components/Loading.vue
  app/javascript/gobierto_investments/webapp/containers/home/Home.vue
  app/javascript/lib/vue-components/index.js
  app/javascript/lib/vue-components/modules/Loading.vue
Labels: gobierto-data

#2796 Middleware file
  app/javascript/gobierto_investments/webapp/conf/mataro.conf.js
  app/javascript/gobierto_investments/webapp/containers/home/Home.vue
  app/javascript/gobierto_investments/webapp/containers/project/Project.vue
  app/javascript/gobierto_investments/webapp/mixins/common.js
  app/javascript/lib/shared/index.js
  app/javascript/lib/shared/modules/middleware.js
  app/javascript/lib/shared/modules/vue-filters.js
Labels: gobierto-data, gobierto-investments

#2786 Checkbox vue-component refactor as library
  app/javascript/gobierto_investments/webapp/containers/home/Home.vue
  app/javascript/lib/vue-components/index.js
  app/javascript/lib/vue-components/modules/Checkbox.vue
Labels: gobierto-data

#2788 RangeBars vue-component refactor as library
  app/assets/stylesheets/comp-range-slider.scss
  app/assets/stylesheets/module-investments.scss
  app/javascript/gobierto_investments/webapp/containers/home/Home.vue
  app/javascript/lib/vue-components/index.js
  app/javascript/lib/vue-components/modules/RangeBars.vue
Labels: gobierto-data

#2820 Cannot read property 'getFullYear' of undefined
  app/javascript/lib/visualizations/modules/lineas_tabla.js
Labels: gobierto-budgets

#2833 add datasets routes
  config/routes.rb
Labels: gobierto-data
