Repository PopulateTools/gobierto, pull requests merged in 2020-02, with the labels that each got.

#2806 Take out specific module CSS from the main bundle (investments)
  app/assets/stylesheets/application.scss.erb
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/module-investments.scss
  app/javascript/gobierto_investments/index.js
Labels: enhancement, gobierto-investments, performance, question

#2790 ReadMore vue-component refactor as library
  app/javascript/gobierto_investments/webapp/containers/project/Main.vue
  app/javascript/lib/vue-components/index.js
  app/javascript/lib/vue-components/modules/ReadMore.vue
  config/locales/gobierto_common/views/ca.yml
  config/locales/gobierto_common/views/en.yml
  config/locales/gobierto_common/views/es.yml
Labels: gobierto-data

#2827 934 query browser should 939
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/lib/commons.js
  app/javascript/gobierto_data/webapp/components/Sidebar.vue
  app/javascript/gobierto_data/webapp/components/commons/DownloadButton.vue
  app/javascript/gobierto_data/webapp/components/commons/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/Data.vue
  app/javascript/gobierto_data/webapp/components/sets/Nav.vue
  app/javascript/gobierto_data/webapp/components/sets/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/RecentQueries.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditor.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/components/sets/Summary.vue
  app/javascript/gobierto_data/webapp/pages/DataSets.vue
Labels: gobierto-data

#2828 940 show users they are using a saved query
  app/javascript/gobierto_data/webapp/components/sets/SQLEditor.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
Labels: gobierto-data

#2830 enable recent queries | make modal more bigger
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/webapp/components/sets/SQLEditor.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorCode.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
Labels: gobierto-data

#2834 925 permalinks
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/webapp/components/Sidebar.vue
  app/javascript/gobierto_data/webapp/components/commons/DownloadButton.vue
  app/javascript/gobierto_data/webapp/components/commons/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/Data.vue
  app/javascript/gobierto_data/webapp/components/sets/Downloads.vue
  app/javascript/gobierto_data/webapp/components/sets/Nav.vue
  app/javascript/gobierto_data/webapp/components/sets/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditor.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorCode.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorTabs.vue
  app/javascript/gobierto_data/webapp/components/sets/Summary.vue
  app/javascript/gobierto_data/webapp/pages/DataSets.vue
Labels: gobierto-data

#2829 938 user logged
  app/javascript/gobierto_data/webapp/components/sets/Nav.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/pages/Sets.vue
Labels: gobierto-data

#2839 931 sidebar datasets details
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/modules/gobierto_data_controller.js
  app/javascript/gobierto_data/webapp/components/Sidebar.vue
  app/javascript/gobierto_data/webapp/components/commons/DownloadButton.vue
  app/javascript/gobierto_data/webapp/components/commons/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/Data.vue
  app/javascript/gobierto_data/webapp/components/sets/Nav.vue
  app/javascript/gobierto_data/webapp/components/sets/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditor.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/components/sets/Summary.vue
  app/javascript/gobierto_data/webapp/layouts/LayoutDataset.vue
  app/javascript/gobierto_data/webapp/layouts/LayoutTabs.vue
  app/javascript/gobierto_data/webapp/pages/DataSets.vue
  app/javascript/gobierto_data/webapp/pages/Home.vue
  app/javascript/gobierto_data/webapp/pages/Queries.vue
  app/javascript/gobierto_data/webapp/pages/Sets.vue
Labels: gobierto-data

#2841 Public queries are not shown to non logged in users
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/webapp/components/commons/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/RecentQueries.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/pages/DataSets.vue
Labels: gobierto-data

#2831 899 pagination
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/modules/gobierto_data_controller.js
  app/javascript/gobierto_data/webapp/components/commons/Button.vue
  app/javascript/gobierto_data/webapp/components/commons/DownloadButton.vue
  app/javascript/gobierto_data/webapp/components/commons/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/Data.vue
  app/javascript/gobierto_data/webapp/components/sets/Nav.vue
  app/javascript/gobierto_data/webapp/components/sets/RecentQueries.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditor.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorCode.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorTable.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorTabs.vue
  app/javascript/gobierto_data/webapp/components/sets/Visualizations.vue
  app/javascript/gobierto_data/webapp/pages/DataSets.vue
  config/locales/gobierto_data/views/ca.yml
  config/locales/gobierto_data/views/en.yml
  config/locales/gobierto_data/views/es.yml
Labels: gobierto-data

#2842 944 editing a query duplicates it
  app/javascript/gobierto_data/webapp/components/commons/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/pages/DataSets.vue
Labels: gobierto-data

#2843 936 the order of recent queries is not correct
  app/javascript/gobierto_data/webapp/components/commons/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/RecentQueries.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditor.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorTable.vue
  app/javascript/gobierto_data/webapp/pages/DataSets.vue
  app/javascript/gobierto_data/webapp/pages/Sets.vue
Labels: gobierto-data

#2846 902 sql editor autocomplete
  app/javascript/gobierto_data/lib/commons.js
  app/javascript/gobierto_data/lib/sql-theme.css
  app/javascript/gobierto_data/modules/gobierto_data_controller.js
  app/javascript/gobierto_data/webapp/components/sets/Data.vue
  app/javascript/gobierto_data/webapp/components/sets/Nav.vue
  app/javascript/gobierto_data/webapp/components/sets/RecentQueries.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditor.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorCode.vue
  app/javascript/gobierto_data/webapp/pages/DataSets.vue
  yarn.lock
Labels: gobierto-data

#2810 Refactor async configuration & handle CUSTOM type
  app/javascript/gobierto_investments/webapp/components/DictionaryItem.vue
  app/javascript/gobierto_investments/webapp/conf/mataro.conf.js
  app/javascript/gobierto_investments/webapp/containers/home/Home.vue
  app/javascript/gobierto_investments/webapp/containers/project/Project.vue
  app/javascript/gobierto_investments/webapp/mixins/common.js
Labels: gobierto-investments, refactor

#2848 2777 keyboard shortcuts
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/modules/gobierto_data_controller.js
  app/javascript/gobierto_data/webapp/components/Sidebar.vue
  app/javascript/gobierto_data/webapp/components/sets/Nav.vue
  app/javascript/gobierto_data/webapp/components/sets/RecentQueries.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditor.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorCode.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorTable.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorTabs.vue
  app/javascript/gobierto_data/webapp/pages/DataSets.vue
  app/javascript/gobierto_data/webapp/pages/Sets.vue
  config/locales/gobierto_data/views/ca.yml
  config/locales/gobierto_data/views/en.yml
  config/locales/gobierto_data/views/es.yml
Labels: gobierto-data

#2862 show private query and delete query
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/webapp/components/commons/Queries.vue
  app/javascript/gobierto_data/webapp/components/sets/Data.vue
  app/javascript/gobierto_data/webapp/components/sets/Nav.vue
  app/javascript/gobierto_data/webapp/components/sets/RecentQueries.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditor.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorCode.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorHeader.vue
  app/javascript/gobierto_data/webapp/components/sets/SQLEditorTable.vue
  app/javascript/gobierto_data/webapp/pages/DataSets.vue
  app/javascript/gobierto_data/webapp/pages/Sets.vue
Labels: gobierto-data
