Repository PopulateTools/gobierto, pull requests merged in 2020-12, with the labels that each got.

#3539 Move literals to config/locales
  app/javascript/gobierto_dashboards/webapp/Maker.vue
  app/javascript/gobierto_dashboards/webapp/components/HeaderForm.vue
  app/javascript/gobierto_dashboards/webapp/components/WidgetIndicator.vue
  app/javascript/gobierto_dashboards/webapp/components/WidgetIndicatorIndividual.vue
  app/javascript/gobierto_dashboards/webapp/components/WidgetIndicatorTable.vue
  app/javascript/gobierto_dashboards/webapp/layouts/Aside.vue
  app/javascript/gobierto_dashboards/webapp/lib/widgets.js
  config/locales/defaults/ca.yml
  config/locales/defaults/en.yml
  config/locales/defaults/es.yml
  config/locales/gobierto_dashboards/views/ca.yml
  config/locales/gobierto_dashboards/views/en.yml
  config/locales/gobierto_dashboards/views/es.yml
Labels: gobierto-dashboards

#3540 Dashboard list
  app/assets/stylesheets/module-dashboards-viewer.scss
  app/controllers/gobierto_admin/gobierto_dashboards/dashboards_controller.rb
  app/javascript/gobierto_dashboards/index.js
  app/javascript/gobierto_dashboards/modules/dashboard_viewer_controller.js
  app/javascript/gobierto_dashboards/webapp/Maker.vue
  app/javascript/gobierto_dashboards/webapp/Viewer.vue
  app/javascript/gobierto_dashboards/webapp/ViewerManager.vue
  app/javascript/gobierto_dashboards/webapp/components/ListCard.vue
  app/javascript/gobierto_dashboards/webapp/lib/factories.js
  app/javascript/gobierto_dashboards/webapp/lib/mock__DELETABLE.js
  app/javascript/packs/dashboards.js
  app/views/gobierto_admin/gobierto_dashboards/dashboards/index.html.erb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/show.html.erb
  app/views/sandbox/admin_dashboards.erb
  app/views/sandbox/dashboards.erb
  app/views/sandbox/dashboards.html.erb
  config/locales/gobierto_dashboards/views/ca.yml
  config/locales/gobierto_dashboards/views/en.yml
  config/locales/gobierto_dashboards/views/es.yml
Labels: gobierto-dashboards

#3549 Allocate style files in their module declarations
  app/javascript/gobierto_dashboards/modules/dashboard_maker_controller.js
  app/javascript/gobierto_dashboards/modules/dashboard_viewer_controller.js
  app/javascript/gobierto_dashboards/webapp/Maker.vue
  app/javascript/gobierto_dashboards/webapp/Viewer.vue
Labels: gobierto-dashboards

#3568 Include GobiertoDashboards in Plans
  app/assets/stylesheets/module-planification.scss
  app/javascript/gobierto_dashboards/index.js
  app/javascript/gobierto_dashboards/webapp/ViewerManager.vue
  app/javascript/gobierto_dashboards/webapp/lib/factories.js
  app/javascript/gobierto_plans/webapp/Main.vue
  app/javascript/gobierto_plans/webapp/components/Tabs.vue
  app/javascript/gobierto_plans/webapp/lib/factory.js
  app/javascript/gobierto_plans/webapp/lib/router.js
  app/javascript/gobierto_plans/webapp/pages/Dashboards.vue
  app/javascript/lib/shared/modules/events.js
  app/javascript/packs/plans.js
  app/views/gobierto_plans/layouts/application.html.erb
  config/locales/gobierto_plans/views/ca.yml
  config/locales/gobierto_plans/views/en.yml
  config/locales/gobierto_plans/views/es.yml
Labels: gobierto-dashboards

#3576 Routes updated in GobiertoPlans
  app/assets/stylesheets/module-dashboards-viewer.scss
  app/javascript/gobierto_dashboards/webapp/ViewerManager.vue
  app/javascript/gobierto_plans/modules/plan_types_controller.js
  app/javascript/gobierto_plans/webapp/Main.vue
  app/javascript/gobierto_plans/webapp/components/ActionLinesTableView.vue
  app/javascript/gobierto_plans/webapp/components/Breadcrumb.vue
  app/javascript/gobierto_plans/webapp/components/ButtonFilters.vue
  app/javascript/gobierto_plans/webapp/components/CustomFieldVocabulary.vue
  app/javascript/gobierto_plans/webapp/components/GroupsByTermTableRow.vue
  app/javascript/gobierto_plans/webapp/components/NodeList.vue
  app/javascript/gobierto_plans/webapp/components/NodeRoot.vue
  app/javascript/gobierto_plans/webapp/components/TableBreadcrumb.vue
  app/javascript/gobierto_plans/webapp/components/Tabs.vue
  app/javascript/gobierto_plans/webapp/lib/router.js
  app/javascript/gobierto_plans/webapp/pages/DashboardsTab.vue
  app/javascript/gobierto_plans/webapp/pages/Plan.vue
  app/javascript/gobierto_plans/webapp/pages/PlanTab.vue
  config/locales/gobierto_dashboards/views/ca.yml
  config/locales/gobierto_dashboards/views/en.yml
  config/locales/gobierto_dashboards/views/es.yml
  config/routes.rb
Labels: gobierto-dashboards, gobierto-plans

#3590 Relocate vue-directives
  app/javascript/gobierto_dashboards/webapp/components/Widget.vue
  app/javascript/gobierto_data/webapp/components/commons/DownloadButton.vue
  app/javascript/gobierto_data/webapp/components/sets/data/SQLEditorHeader.vue
  app/javascript/gobierto_plans/webapp/components/TableColumnsSelector.vue
  app/javascript/gobierto_plans/webapp/pages/ProjectsByTerm.vue
  app/javascript/lib/shared/index.js
  app/javascript/lib/vue/directives/index.js
Labels: frontend, refactor

#3581 Dashboard maker bugs
  app/assets/stylesheets/comp-vue-autocomplete.scss
  app/javascript/gobierto_dashboards/webapp/Maker.vue
  app/javascript/gobierto_dashboards/webapp/components/WidgetIndicator.vue
  app/javascript/lib/vue-components/modules/Autocomplete.vue
Labels: gobierto-dashboards

#3528 Gobierto Visualizations / Improvent contracts visualizations
  app/assets/stylesheets/comp-vue-beeswarm.scss
  app/assets/stylesheets/comp-vue-multiple-lines.scss
  app/assets/stylesheets/comp-vue-treemap-nested.scss
  app/assets/stylesheets/module-visualizations.scss
  app/javascript/gobierto_visualizations/modules/contracts_controller.js
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Summary.vue
  app/javascript/gobierto_visualizations/webapp/lib/utils.js
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
  app/javascript/lib/vue-components/modules/BeesWarmChart.vue
  app/javascript/lib/vue-components/modules/MultipleLineChart.vue
Labels: gobierto-visualizations

#3583 Larger dashboard
  app/javascript/gobierto_dashboards/webapp/components/WidgetIndicatorTable.vue
  app/javascript/gobierto_dashboards/webapp/lib/mock__DELETABLE.js
Labels: gobierto-dashboards, gobierto-plans

#3592 Migrate stylelint
  .hound.yml
  .sass-lint.yml
  .stylelintignore
  .stylelintrc.yml
  package.json
  yarn.lock
Labels: enhancement, refactor

#3588 Dashboard maker bugs #2
  app/assets/stylesheets/module-dashboards-viewer.scss
  app/javascript/gobierto_dashboards/webapp/Maker.vue
  app/javascript/gobierto_dashboards/webapp/Viewer.vue
  app/javascript/gobierto_dashboards/webapp/components/Widget.vue
Labels: gobierto-dashboards

#3541 Gobierto Visualizations / Subsidies issues
  app/javascript/gobierto_visualizations/modules/contracts_controller.js
  app/javascript/gobierto_visualizations/modules/subsidies_controller.js
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/Home.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/SubsidiesIndex.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/SubsidiesShow.vue
  app/javascript/gobierto_visualizations/webapp/lib/config/subsidies.js
  app/javascript/gobierto_visualizations/webapp/lib/utils.js
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
  app/javascript/lib/shared/index.js
  app/javascript/lib/shared/modules/createScaleColors.js
  app/javascript/lib/shared/modules/normalizeString.js
  app/javascript/lib/vue-components/modules/BeesWarmChart.vue
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
  test/integration/gobierto_visualizations/visualizations_subsidies_test.rb
Labels: gobierto-visualizations
