Repository PopulateTools/gobierto, pull requests merged in 2021-04, with the labels that each got.

#3810 Refactor DC, fix filters & update data queries
  app/assets/stylesheets/module-observatory.scss
  app/javascript/gobierto_observatory/modules/charts/dc-addons-paired-row.js
  app/javascript/gobierto_observatory/modules/charts/stacked_vertical.js
  app/javascript/gobierto_observatory/modules/demography_map_controller.js
  app/views/gobierto_observatory/observatory/demography_map.html.erb
  package.json
  yarn.lock
Labels: gobierto-observatory

#3816 Gobierto Visualizations / Replaces the path to avoid redirect to blank page.
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Summary.vue
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
Labels: bug, gobierto-visualizations

#3815 Bugs in Data
  app/javascript/gobierto_data/lib/factories/data.js
  app/javascript/gobierto_data/webapp/components/Dataset.vue
  app/javascript/gobierto_data/webapp/components/commons/Visualizations.vue
Labels: gobierto-data

#3813 Gobierto Data / Hide the queries tab from the sidebar.
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/webapp/components/Sidebar.vue
Labels: gobierto-data

#3773 Gobierto Visualizations / Translate the rest of enumerations
  app/javascript/gobierto_visualizations/modules/contracts_controller.js
  config/i18n-tasks.yml
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
  test/fixtures/files/gobierto_visualizations/contracts.csv
  test/fixtures/files/gobierto_visualizations/tenders.csv
  test/integration/gobierto_visualizations/visualizations_contracts_test.rb
Labels: gobierto-visualizations

#3840 Gobierto Visualizations / Changes routes and clear search
  app/javascript/gobierto_visualizations/webapp/components/SearchFilter.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/AssigneesShow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsIndex.vue
Labels: bug, gobierto-visualizations
