Repository PopulateTools/gobierto, pull requests merged in 2021-02, with the labels that each got.

#3659 Better XHR handling for Datasets
  app/javascript/gobierto_data/index.js
  app/javascript/gobierto_data/lib/router.js
  app/javascript/gobierto_data/webapp/components/Dataset.vue
  app/javascript/gobierto_data/webapp/components/landingviz/VisualizationsGrid.vue
  app/javascript/gobierto_data/webapp/components/sets/SummaryTab.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsList.vue
  app/javascript/gobierto_data/webapp/pages/Main.vue
Labels: gobierto-data

#3671 Hide dashboards if disabled
  app/controllers/concerns/gobierto_common/module_helper.rb
  app/controllers/gobierto_plans/plan_types_controller.rb
  app/javascript/gobierto_plans/modules/plan_types_controller.js
  app/javascript/gobierto_plans/webapp/Main.vue
  app/javascript/gobierto_plans/webapp/components/Tabs.vue
  app/javascript/gobierto_plans/webapp/lib/router.js
  app/views/gobierto_plans/plan_types/show.html.erb
Labels: gobierto-dashboards, gobierto-plans

#3657 Allow gobierto-data to be startpage
  app/javascript/gobierto_data/lib/router.js
Labels: gobierto-data

#3663 Sql permalink
  app/javascript/gobierto_data/modules/gobierto_data_controller.js
  app/javascript/gobierto_data/webapp/components/Dataset.vue
  app/javascript/gobierto_data/webapp/components/sets/DownloadsTab.vue
Labels: gobierto-data

#3681 Gobierto Visualizations / Bug on resize and don't paint some elements in the DOM
  app/javascript/gobierto_visualizations/webapp/containers/contracts/CategoriesTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/EntityTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
Labels: gobierto-visualizations

#3679 Gobierto Visualizations / Contracts responsive adjustments
  .eslintrc
  app/assets/stylesheets/comp-vue-table.scss
  app/assets/stylesheets/module-visualizations.scss
  app/javascript/gobierto_visualizations/modules/contracts_controller.js
  app/javascript/gobierto_visualizations/modules/costs_controller.js
  app/javascript/gobierto_visualizations/modules/subsidies_controller.js
  app/javascript/gobierto_visualizations/webapp/components/Table.vue
  app/javascript/gobierto_visualizations/webapp/components/TableRow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/AssigneesShow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsIndex.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsShow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Summary.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/SubsidiesIndex.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/Summary.vue
  app/javascript/gobierto_visualizations/webapp/lib/config/contracts.js
  app/javascript/gobierto_visualizations/webapp/lib/config/subsidies.js
  app/javascript/lib/commons/index.js
  app/javascript/lib/commons/modules/magnific-popup.js
  app/javascript/lib/commons/modules/module-search.js
  app/javascript/lib/commons/modules/module-sessions.js
  app/javascript/lib/commons/modules/module-site_header.js
  app/javascript/lib/commons/modules/separate-tabs.js
  app/javascript/lib/commons/modules/shareContent.js
  app/javascript/lib/commons/modules/tabs.js
  app/javascript/lib/commons/modules/velocity_settings.js
  app/javascript/lib/shared/index.js
  app/javascript/lib/shared/modules/velocity_settings.js
  app/javascript/lib/vue-components/index.js
  app/javascript/lib/vue-components/modules/Dropdown.vue
  app/javascript/lib/vue-components/modules/Pagination.vue
  app/javascript/lib/vue-components/modules/SortIcon.vue
  app/javascript/lib/vue-components/modules/Table.vue
  app/javascript/lib/vue-components/modules/TableColumnsSelector.vue
  app/views/gobierto_visualizations/layouts/_navigation.main.html.erb
  app/views/gobierto_visualizations/layouts/_navigation.sub.html.erb
  app/views/gobierto_visualizations/visualizations/contracts.html.erb
  app/views/gobierto_visualizations/visualizations/subsidies.html.erb
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
  config/webpack/test.js
  package.json
Labels: :no_entry: blocked, gobierto-visualizations

#3648 Gobierto Visualizations / Vue Table Component
  app/assets/stylesheets/comp-vue-table.scss
  app/javascript/gobierto_visualizations/webapp/containers/contracts/AssigneesShow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsIndex.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Summary.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/SubsidiesIndex.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/Summary.vue
  app/javascript/gobierto_visualizations/webapp/lib/config/contracts.js
  app/javascript/gobierto_visualizations/webapp/lib/config/subsidies.js
  app/javascript/lib/vue-components/modules/Table.vue
  app/javascript/lib/vue-components/modules/TableColumnsSelector.vue
  config/locales/gobierto_common/views/ca.yml
  config/locales/gobierto_common/views/en.yml
  config/locales/gobierto_common/views/es.yml
  config/locales/gobierto_visualizations/views/es.yml
Labels: gobierto-visualizations

#3695 Gobierto Visualizations / Update placeholder
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
Labels: gobierto-visualizations

#3696 Gobierto Contracts-Vizz / Add source to contracts show
  app/assets/stylesheets/module-visualizations.scss
  app/javascript/gobierto_visualizations/webapp/components/ContractsShowTableFooter.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsShow.vue
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
Labels: gobierto-visualizations

#3697 Gobierto Subsidies / Amount data is missing
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/CategoriesTreeMapNested.vue
  config/locales/defaults/ca.yml
  config/locales/defaults/en.yml
  config/locales/defaults/es.yml
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
  test/integration/gobierto_visualizations/visualizations_contracts_test.rb
  test/integration/gobierto_visualizations/visualizations_subsidies_test.rb
Labels: gobierto-visualizations

#3103 1027 historic charges
  app/controllers/concerns/gobierto_people/filter_by_activities_helper.rb
  app/controllers/gobierto_people/api/v1/departments_controller.rb
  app/controllers/gobierto_people/api/v1/interest_groups_controller.rb
  app/controllers/gobierto_people/api/v1/people_controller.rb
  app/controllers/gobierto_people/departments/people_controller.rb
  app/controllers/gobierto_people/people/base_controller.rb
  app/controllers/gobierto_people/people_controller.rb
  app/controllers/gobierto_people/person_events_controller.rb
  app/controllers/gobierto_people/person_posts_controller.rb
  app/controllers/gobierto_people/person_statements_controller.rb
  app/controllers/gobierto_people/political_groups/people_controller.rb
  app/controllers/gobierto_people/welcome_controller.rb
  app/decorators/gobierto_calendars/event_decorator.rb
  app/decorators/gobierto_people/department_decorator.rb
  app/decorators/gobierto_people/person_decorator.rb
  app/javascript/gobierto_people/modules/application.js
  app/models/concerns/gobierto_people/belongs_to_person_with_charge.rb
  app/models/gobierto_calendars/event.rb
  app/models/gobierto_calendars/event_attendee.rb
  app/models/gobierto_people/charge.rb
  app/models/gobierto_people/department.rb
  app/models/gobierto_people/gift.rb
  app/models/gobierto_people/invitation.rb
  app/models/gobierto_people/person.rb
  app/models/gobierto_people/trip.rb
  app/models/site.rb
  app/queries/gobierto_people/departments_query.rb
  app/queries/gobierto_people/interest_groups_query.rb
  app/queries/gobierto_people/people_query.rb
  app/queries/gobierto_people/people_with_activities_query.rb
  app/queries/gobierto_people/rowchart_items_query.rb
  app/queries/gobierto_people/trips_query.rb
  app/serializers/gobierto_calendars/event_attendee_serializer.rb
  app/serializers/gobierto_people/person_serializer.rb
  app/views/gobierto_people/people/_people.html.erb
  app/views/gobierto_people/people/_person.html.erb
  app/views/gobierto_people/people/index.js.erb
  app/views/gobierto_people/people/person_events/show.html.erb
  app/views/gobierto_people/people/show.html.erb
  app/views/gobierto_people/person_events/_person_event.html.erb
  config/locales/views/ca.yml
  config/locales/views/en.yml
  config/locales/views/es.yml
  db/migrate/20200520103945_create_gobierto_people_charge.rb
  db/migrate/20200601185920_add_external_id_to_gp_charges.rb
  test/fixtures/gobierto_people/charges.yml
  test/fixtures/gobierto_people/departments.yml
  test/integration/gobierto_admin/gobierto_people/person_posts_index_test.rb
  test/integration/gobierto_people/api/v1/departments_test.rb
  test/integration/gobierto_people/api/v1/interest_groups_test.rb
  test/integration/gobierto_people/api/v1/people_index_test.rb
  test/integration/gobierto_people/departments/index_test.rb
  test/integration/gobierto_people/departments/people_index_test.rb
  test/integration/gobierto_people/people_index_test.rb
  test/models/gobierto_people/department_test.rb
  test/queries/gobierto_people/departments_query_test.rb
  test/queries/gobierto_people/interest_groups_query_test.rb
  test/queries/gobierto_people/people_query_test.rb
  test/queries/gobierto_people/trips_query_test.rb
  test/serializers/gobierto_people/person_serializer_test.rb
Labels: :no_entry: blocked

#3705 Gobierto Contracts / Sum the price if the contract has batches
  app/assets/stylesheets/module-visualizations.scss
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsShow.vue
Labels: bug, gobierto-visualizations

#3716 Gobierto Contracts / Show permalink on hover
  app/assets/stylesheets/comp-vue-table.scss
  app/javascript/gobierto_visualizations/webapp/containers/contracts/AssigneesShow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsIndex.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Summary.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/SubsidiesIndex.vue
  app/javascript/lib/vue/components/modules/Table.vue
Labels: gobierto-visualizations

#3706 Gobierto Visualizations / Remove nodes from treemap's
  app/javascript/gobierto_visualizations/webapp/containers/contracts/EntityTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/CategoriesTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
  test/integration/gobierto_participation/processes/process_show_test.rb
  test/integration/user/subscription_create_test.rb
Labels: gobierto-visualizations

#3724 Gobierto Contracts / Enable link to subsidies and fix tabs
  app/assets/stylesheets/comp-vue-treemap-nested.scss
  app/assets/stylesheets/module-visualizations.scss
  app/javascript/gobierto_visualizations/webapp/containers/contracts/CategoriesTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/EntityTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Summary.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/CategoriesTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/Summary.vue
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
Labels: gobierto-visualizations

#3732 Gobierto Visualizations / Use gobierto_start_date instead of award_date
  app/javascript/gobierto_visualizations/modules/contracts_controller.js
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Aside.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/AssigneesShow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsIndex.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsShow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Summary.vue
  app/javascript/gobierto_visualizations/webapp/lib/config/contracts.js
Labels: gobierto-visualizations
