Repository PopulateTools/gobierto, pull requests merged in 2021-03, with the labels that each got.

#3745 Gobierto Visualizations / Translate categories
  app/assets/stylesheets/css-conf.scss
  app/assets/stylesheets/module-visualizations.scss
  app/javascript/gobierto_visualizations/modules/contracts_controller.js
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
  app/javascript/lib/shared/modules/createScaleColors.js
  app/javascript/lib/vue/components/modules/BeesWarmChart.vue
  config/i18n-tasks.yml
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
Labels: gobierto-visualizations

#3757 Gobierto Visualizations | Missing translations
  app/javascript/gobierto_visualizations/modules/contracts_controller.js
  app/javascript/lib/vue/components/modules/BeesWarmChart.vue
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
  test/integration/gobierto_visualizations/visualizations_contracts_test.rb
  test/reports/TEST-GobiertoVisualizations_VisualizationsContractsTest.xml
Labels: gobierto-visualizations

#3762 Gobierto Visualizations / Replaces the text for award and tenders date
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsShow.vue
  app/javascript/gobierto_visualizations/webapp/lib/config/contracts.js
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
Labels: gobierto-visualizations

#3760 Gobierto Visualizations / Create ids for elements
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Aside.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Summary.vue
  app/javascript/lib/vue/components/modules/Checkbox.vue
Labels: gobierto-visualizations

#3766 Gobierto Observatory / Fix unemployment age module
  app/javascript/gobierto_observatory/modules/classes/get_unemployment_age_data.js
  app/javascript/lib/visualizations/modules/unemployment_age.js
  app/javascript/lib/visualizations/modules/unemployment_sex.js
Labels: gobierto-budgets

#3769 Gobierto Visualizations / Get the treemaps width with its container
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
Labels: bug, gobierto-visualizations

#3763 Gobierto Data / Show the block with the query associated with the visualizations, and hide the fork button
  app/javascript/gobierto_data/webapp/components/Dataset.vue
  app/javascript/gobierto_data/webapp/components/sets/VisualizationsItem.vue
Labels: gobierto-data

#3777 Gobierto Contracts / Show or hide contracts depending on permalink content
  app/javascript/gobierto_visualizations/webapp/components/ContractsShowTableFooter.vue
Labels: gobierto-visualizations

#3781 Group by status
  app/javascript/gobierto_plans/webapp/Main.vue
  app/javascript/gobierto_plans/webapp/components/ButtonFilters.vue
  app/javascript/gobierto_plans/webapp/components/Project.vue
  app/javascript/gobierto_plans/webapp/components/TableCellTemplates.vue
  app/javascript/gobierto_plans/webapp/pages/Groups.vue
Labels: gobierto-plans

#3803 Currency type
  app/javascript/gobierto_plans/webapp/components/ProjectCustomFields.vue
  app/javascript/gobierto_plans/webapp/lib/mixins/field-type.js
Labels: gobierto-plans
