Repository PopulateTools/gobierto, pull requests merged in 2021-11, with the labels that each got.

#3981 Hide counters
  app/assets/stylesheets/module-plans.scss
  app/javascript/gobierto_plans/webapp/components/NodeRoot.vue
  app/javascript/gobierto_plans/webapp/components/SectionZero.vue
Labels: gobierto-plans

#3988 Gobierto Data / Convert MarkDown to HTML
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/webapp/components/commons/Info.vue
  package.json
  yarn.lock
Labels: gobierto-data

#3967 Gobierto Data / Add a new type for date
  app/queries/gobierto_data/sql_function/transformation.rb
Labels: gobierto-data

#4000 Gobierto Data / Remove scrollTo and replace dropdown with a link
  app/assets/stylesheets/module-data.scss
  app/javascript/gobierto_data/lib/router.js
  app/javascript/gobierto_data/webapp/components/commons/DownloadLink.vue
  app/javascript/gobierto_data/webapp/components/sets/DownloadsTab.vue
  app/javascript/gobierto_data/webapp/components/sets/SummaryTab.vue
  app/javascript/gobierto_data/webapp/components/sets/data/SQLEditorResults.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/Summary.vue
Labels: gobierto-data

#3998 Gobierto Data / Fix the permalink of the visualizations
  app/javascript/gobierto_data/webapp/components/landingviz/VisualizationsGrid.vue
  app/javascript/gobierto_data/webapp/pages/Visualizations.vue
Labels: bug
