Repository PopulateTools/gobierto, pull requests merged in 2021-01, with the labels that each got.

#3591 Relocate vue-filters
  app/javascript/gobierto_dashboards/webapp/components/WidgetIndicatorIndividual.vue
  app/javascript/gobierto_dashboards/webapp/components/WidgetIndicatorTable.vue
  app/javascript/gobierto_data/webapp/components/commons/Info.vue
  app/javascript/gobierto_data/webapp/components/sets/SummaryTab.vue
  app/javascript/gobierto_data/webapp/pages/Main.vue
  app/javascript/gobierto_investments/webapp/mixins/common.js
  app/javascript/gobierto_plans/webapp/components/ActionLineHeader.vue
  app/javascript/gobierto_plans/webapp/components/ActionLinesTableViewRow.vue
  app/javascript/gobierto_plans/webapp/components/Breadcrumb.vue
  app/javascript/gobierto_plans/webapp/components/ButtonFilters.vue
  app/javascript/gobierto_plans/webapp/components/CustomFieldParagraph.vue
  app/javascript/gobierto_plans/webapp/components/CustomFieldPluginRawIndicators.vue
  app/javascript/gobierto_plans/webapp/components/CustomFieldSelection.vue
  app/javascript/gobierto_plans/webapp/components/GroupsByTermTableRow.vue
  app/javascript/gobierto_plans/webapp/components/GroupsByTermTableRowRecursive.vue
  app/javascript/gobierto_plans/webapp/components/Header.vue
  app/javascript/gobierto_plans/webapp/components/NodeList.vue
  app/javascript/gobierto_plans/webapp/components/NodeRoot.vue
  app/javascript/gobierto_plans/webapp/components/NumberLabel.vue
  app/javascript/gobierto_plans/webapp/components/ProjectCustomFields.vue
  app/javascript/gobierto_plans/webapp/components/ProjectNativeFields.vue
  app/javascript/gobierto_plans/webapp/components/TableCellTemplates.vue
  app/javascript/gobierto_plans/webapp/lib/mixins/names.js
  app/javascript/gobierto_plans/webapp/pages/Categories.vue
  app/javascript/gobierto_plans/webapp/pages/ProjectsByTerm.vue
  app/javascript/gobierto_visualizations/modules/contracts_controller.js
  app/javascript/gobierto_visualizations/modules/subsidies_controller.js
  app/javascript/gobierto_visualizations/webapp/components/TableRow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/AssigneesShow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsShow.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Summary.vue
  app/javascript/gobierto_visualizations/webapp/containers/costs/Distribution.vue
  app/javascript/gobierto_visualizations/webapp/containers/costs/table/TableFirstLevel.vue
  app/javascript/gobierto_visualizations/webapp/containers/costs/table/TableHeader.vue
  app/javascript/gobierto_visualizations/webapp/containers/costs/table/TableItem.vue
  app/javascript/gobierto_visualizations/webapp/containers/costs/table/TableRow.vue
  app/javascript/gobierto_visualizations/webapp/containers/costs/table/TableSecondLevel.vue
  app/javascript/gobierto_visualizations/webapp/containers/costs/table/TableSubHeader.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/SubsidiesShow.vue
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMap.vue
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
  app/javascript/lib/shared/index.js
  app/javascript/lib/shared/modules/middleware.js
  app/javascript/lib/visualizations/modules/group_pct_distribution_bars.js
  app/javascript/lib/vue-components/modules/RangeBars.vue
  app/javascript/lib/vue/filters/index.js
Labels: frontend, refactor

#3593 Lint staged: checks pre-commit
  package.json
  script/check_i18n.sh
  yarn.lock
Labels: enhancement

#3563 Gobierto Visualizations / New filters + treemaps
  app/assets/stylesheets/comp-vue-treemap-nested.scss
  app/assets/stylesheets/module-visualizations.scss
  app/javascript/gobierto_visualizations/modules/contracts_controller.js
  app/javascript/gobierto_visualizations/webapp/components/Table.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Aside.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/CategoriesTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/EntityTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/Summary.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/Aside.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/CategoriesTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/Summary.vue
  app/javascript/gobierto_visualizations/webapp/lib/config/contracts.js
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
  app/javascript/lib/vue-components/modules/BeesWarmChart.vue
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
Labels: :no_entry: blocked, gobierto-visualizations

#3623 Dashboards data pipes
  app/controllers/gobierto_admin/gobierto_plans/dashboards_controller.rb
  app/decorators/gobierto_plans/plan_decorator.rb
  app/javascript/gobierto_dashboards/webapp/Maker.vue
  app/javascript/gobierto_dashboards/webapp/Viewer.vue
  app/javascript/gobierto_dashboards/webapp/lib/widgets.js
  app/models/gobierto_dashboards/data_pipes/project_metrics.rb
  app/services/gobierto_common/context_service.rb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/edit.html.erb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/index.html.erb
  app/views/gobierto_admin/gobierto_plans/dashboards/index.html.erb
  app/views/gobierto_plans/plan_types/show.html.erb
  config/routes.rb
  test/controllers/gobierto_dashboards/api/v1/dashboards_controller_test.rb
  test/fixtures/gobierto_common/custom_field_records.yml
  test/fixtures/gobierto_common/custom_fields.yml
  test/fixtures/gobierto_dashboards/dashboards.yml
Labels: gobierto-dashboards

#3629 New dashboard action
  app/controllers/concerns/gobierto_admin/dashboards_helper.rb
  app/controllers/gobierto_admin/gobierto_dashboards/dashboards_controller.rb
  app/controllers/gobierto_admin/gobierto_plans/dashboards_controller.rb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/_form.html.erb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/edit.html.erb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/index.html.erb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/modal.html.erb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/new_modal.html.erb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/show.html.erb
  app/views/gobierto_admin/gobierto_plans/dashboards/index.html.erb
  config/locales/gobierto_admin/gobierto_dashboards/controllers/ca.yml
  config/locales/gobierto_admin/gobierto_dashboards/controllers/en.yml
  config/locales/gobierto_admin/gobierto_dashboards/controllers/es.yml
  config/locales/gobierto_admin/gobierto_dashboards/views/ca.yml
  config/locales/gobierto_admin/gobierto_dashboards/views/en.yml
  config/locales/gobierto_admin/gobierto_dashboards/views/es.yml
  config/routes.rb
Labels: gobierto-dashboards

#3619 Gobierto Visualizations / Color assignment and tooltip scroll
  app/assets/stylesheets/comp-vue-treemap-nested.scss
  app/assets/stylesheets/module-visualizations.scss
  app/javascript/gobierto_visualizations/modules/contracts_controller.js
  app/javascript/gobierto_visualizations/webapp/containers/contracts/CategoriesTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/EntityTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/containers/subsidies/CategoriesTreeMapNested.vue
  app/javascript/gobierto_visualizations/webapp/visualizations/treeMapNested.vue
  test/integration/gobierto_visualizations/visualizations_contracts_download_data_test.rb
Labels: gobierto-visualizations

#3626 List dashboards modal
  app/assets/stylesheets/comp-forms.scss
  app/assets/stylesheets/module-dashboards-maker.scss
  app/controllers/concerns/gobierto_admin/dashboards_helper.rb
  app/controllers/gobierto_admin/gobierto_dashboards/dashboards_controller.rb
  app/controllers/gobierto_admin/gobierto_plans/dashboards_controller.rb
  app/controllers/gobierto_admin/gobierto_plans/projects_controller.rb
  app/decorators/gobierto_common/custom_field_record_decorator.rb
  app/javascript/gobierto_admin/modules/admin_groups_admins_controller.js
  app/javascript/gobierto_dashboards/webapp/Maker.vue
  app/javascript/gobierto_dashboards/webapp/Viewer.vue
  app/javascript/gobierto_dashboards/webapp/components/Button.vue
  app/javascript/gobierto_dashboards/webapp/components/HeaderForm.vue
  app/javascript/gobierto_dashboards/webapp/components/WidgetIndicator.vue
  app/javascript/gobierto_dashboards/webapp/layouts/Header.vue
  app/javascript/lib/shared/modules/magnific-popup.js
  app/javascript/lib/vue-components/modules/Autocomplete.vue
  app/javascript/lib/vue-components/modules/TextEditable.vue
  app/models/gobierto_dashboards/data_pipes/project_metrics.rb
  app/views/gobierto_admin/gobierto_common/custom_fields/forms/_plugin.html.erb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/list_modal.html.erb
  app/views/gobierto_admin/gobierto_dashboards/dashboards/modal.html.erb
  app/views/gobierto_admin/gobierto_plans/dashboards/index.html.erb
  app/views/gobierto_admin/layouts/application.html.erb
  app/views/sandbox/admin_dashboards.erb
  config/locales/gobierto_admin/gobierto_dashboards/controllers/ca.yml
  config/locales/gobierto_admin/gobierto_dashboards/controllers/en.yml
  config/locales/gobierto_admin/gobierto_dashboards/controllers/es.yml
  config/locales/gobierto_admin/gobierto_dashboards/views/ca.yml
  config/locales/gobierto_admin/gobierto_dashboards/views/en.yml
  config/locales/gobierto_admin/gobierto_dashboards/views/es.yml
  config/locales/gobierto_admin/gobierto_plans/views/ca.yml
  config/locales/gobierto_admin/gobierto_plans/views/en.yml
  config/locales/gobierto_admin/gobierto_plans/views/es.yml
  config/locales/gobierto_dashboards/views/ca.yml
  config/locales/gobierto_dashboards/views/en.yml
  config/locales/gobierto_dashboards/views/es.yml
  config/routes.rb
  vendor/gobierto_engines/custom-fields-table-plugin/app/javascripts/custom_fields_table_plugin/modules/table_plugin.js
Labels: gobierto-dashboards

#3628 Gobierto Visualizations / Contract page iteration
  app/assets/stylesheets/module-visualizations.scss
  app/javascript/gobierto_visualizations/webapp/components/ContractsShowLabelGroup.vue
  app/javascript/gobierto_visualizations/webapp/components/ContractsShowLabelHeader.vue
  app/javascript/gobierto_visualizations/webapp/components/ContractsShowTable.vue
  app/javascript/gobierto_visualizations/webapp/components/ContractsShowTableFooter.vue
  app/javascript/gobierto_visualizations/webapp/components/ContractsShowTableFooterTr.vue
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsShow.vue
  app/javascript/lib/vue/filters/index.js
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
Labels: gobierto-visualizations

#3655 Gobierto Visualizations / Add a new field to contract's page
  app/javascript/gobierto_visualizations/webapp/containers/contracts/ContractsShow.vue
  config/locales/gobierto_visualizations/views/ca.yml
  config/locales/gobierto_visualizations/views/en.yml
  config/locales/gobierto_visualizations/views/es.yml
Labels: gobierto-visualizations

#3656 Topbar sticky
  app/assets/stylesheets/module-data.scss
Labels: gobierto-data
